body {margin:0px; padding:0px; color:#000000; font-family:'Ubuntu',Arial,Helvetica,sans-serif; font-size:13px; text-decoration:none; }


img { border:none; }

a {text-decoration:none; color: inherit; }
a:link {text-decoration:none; color: inherit; }
a:visited {text-decoration:none; color: inherit; }
a:hover {text-decoration:none; color: inherit; }
a:active {text-decoration:none; color: inherit; }

