.map_boxed .box_inside_map {                						background-color:#0f75bb; }
.map_boxed .box_inside_map .info-container ul li:nth-child(odd) {   	background-color:#2088cf; }
.testtest {                                 						background:#0f75bb  !important; }