/* Css File replacing old ones
   Date : 08/07/2014
   Version : 0.001
=================================*/

/* Webfonts */
@import url(../fonts/font-awesome-4.5.0/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:regular&subset=Latin,Cyrillic);

/* Generic */
body {					font-family: 'Ubuntu', Arial, Helvetica, sans-serif; }
*, *:before, *:after {  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.marginB50 {			margin-bottom:50px !important; }
/* Table */
.table {				border-collapse:separate; border-spacing:0; padding:0; width:100%; }
.table tr {				vertical-align:top; }
.clear {				clear:both; }

/* Register */
.bloc_title {			clear:both; display:block; font-family: 'Ubuntu', Arial, Helvetica, sans-serif; font-size:10px; text-align:left; width:100%; }
.bloc_title.grey {		background-color:#9c9e9c; color:#fff; }
.bloc_title.black {		background-color:#000000; color:#fff; }
.bloc_title p {			display:inline-block; margin:0; padding:4px; }

/* Steps */
.steps {				background-color:#FFF; height:65px; margin-bottom:10px; width:710px; }
.step {					display:inline-block; font-size:11px; height:65px; padding-top:12px; text-align:center; text-transform:uppercase; width:25%;
						-ms-filter:"alpha(opacity=30)"; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30); filter:alpha(opacity=30); opacity:0.3; }
.step i {				font-size:23px; padding-bottom:5px; }
.step.active {			background-color:#0f4167; color:#FFF;
						-ms-filter:"alpha(opacity=100)"; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); filter:alpha(opacity=100); opacity:1; }

/* Structure */
.container {			/*margin:20px auto 40px;*/ margin:0 auto; position:relative; width:950px; }
.row {					display:block; }
.row:before, .row:after { display: table; content: " ";
						-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.row:after {			clear: both; }
.column {				display:inline-block; float:left; margin-right:10px; position:relative; text-align:left; }
.column.one {			width:230px; }
.column.two {			width:470px; }
.column.three {			width:710px; }
.column.four {			width:950px; }
.alpha {				margin-left:0; }
.omega {				margin-right:0; }

.content {				background-color:#FFF; float:left; padding:10px; width:100%; }
.content p {			margin:0; padding:0; padding-bottom:20px; }

/* Alerts */
.alert {				}
.alert i {				color:#e24d0b; font-size:16px; }
.alert h4 {				color:#e24d0b; font-size:18px; font-weight:700; margin:0 0 3px 0; padding:4px 0; }
.alert p {				font-size;:14px; padding-bottom:7px; }
.alert ul {				margin:0; padding:0 0 0 15px; }

/* E-mail exists / doublons */
.person_block {			border:1px solid #DDD; display:inline; float:left; padding:5px; position:relative; margin-bottom:20px; width:100%; }
.person_block img {		background-color:#EEE; display:block; height:50px; width:50px; }
p.person_data {			font-size:11px; line-height:16px; }
p.account_data {		font-size:10px; line-height:16px; }
.aButton {				border:none; background-color:#59a0cd; color:#FFF !important; display: block; font-size: 10px; height: 20px; line-height: 20px; padding: 0 7px; text-align:center; width:99%;
						border-radius: 3px;    
						-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
						/*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
						-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
						transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;  }
.aButton.auto {			display:inline-block; height:auto; width:auto;  }
.aButton.right {		float:right; }
.aButton.left {			background-color:#d8edfb; color:#444 !important; float:left; }
.aButton.lightblue {		background-color:#d8edfb; color:#444 !important; }
.aButton.orange {		background-color:#e24d0b; }
.aButton .fa {			line-height:20px; }

ul.company_name {					padding:0; }
ul.company_name li {				background-color:#DDD; box-sizing:border; border-radius: 3px; display:inline-block; height:20px; font-size:11px; line-height:20px; margin-bottom:3px; padding:0 0 0 5px; width:49.5%; }
ul.company_name li:first-child {	background-color:#FFF; font-weight:bold; height:auto; width:100%; padding:0; }			
ul.company_name li:nth-child(odd) { margin-right:0; }
ul.company_name li:nth-child(even) { margin-right:1%; }
.company_name a {					display:block; width:100%; }
.company_name i {					color:#333; font-size:11px; margin-top:4px; }

/* Forms */
.form-group {						display:block; float:left; margin-bottom:15px; width:100%; }
.input-controls {					display:block; font-family: 'Ubuntu', Arial, Helvetica, sans-serif; margin-bottom:10px; width:100%; }
.control-label {					color:#777; font-size:12px; margin-top: 0; margin-bottom: 0; padding: 7px 10px 0; text-align: right; }
.control-label.required {			background:none !important; color:#0f4167; }
.control-label.required::after{		content:" *"; }
.form-control {						background-color: #ffffff; background-image: none; border: 1px solid #cccccc; border-radius: 3px; color: #555555; display: block; height: 26px; font-size: 12px; line-height: 1.428571429; padding: 4px 12px; vertical-align: middle; width: 100%;
									-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
									/*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
									-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
									transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;  }
.form-control.submit {				border:none; background-color:#457da1; color:#FFF; }
.helpbox {							color:#0f4167; display: block; font-size:10px; height:26px; line-height: 26px; padding:0 10px; font-style: italic; }
.separator {						float:left; display:block; height:20px; width:100%; }

/* Company */
.block_company {						background-color:#f3f3f3; border:1px solid #DDD; display:block; font-family: 'Ubuntu', Arial, Helvetica, sans-serif; margin-bottom:10px; padding:10px; position:relative; width:100%; }
.block_company p {						font-size:11px; margin:0 0 10px 0; padding:0; }
.block_company .title_main {			color:#333; display:block; font-size:16px; font-weight:700; margin:0; padding:0; }
.block_company .title_sub {				color:#333; display:block; font-size:14px; font-weight:400; font-style: italic; margin:0; padding:0; margin-bottom:10px; }
.block_company .company_logo {			display:inline-block; float:left; height:100%; margin-right:20px; text-align:center; width:90px; }
.block_company .company_logo img {		border-radius: 3px; height:90px; width:90px; }

.block_company .company_projects .project_name {	display:inline-block; font-size:12px; font-weight:700; margin-right:10px; }
								 .aButton.inText {	display:inline-block; line-height:20px; width:auto;  }

.block_company.create {					border:none; background-color:none; color:#FFF; text-align:center !important;  }
.block_company.create input[type=submit] {		width:100%; }		
/* Cols */	
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11 {				float: left; }
.col-12 {				width: 100%; }
.col-11 {				width: 91.66666666666666%; }
.col-10 {				width: 83.33333333333334%; }
.col-9 {				width: 75%; }
.col-8 {				width: 66.66666666666666%; }
.col-7 {				width: 58.333333333333336%; }
.col-6 {				width: 50%; }
.col-5 {				width: 41.66666666666667%; }
.col-4 {				width: 33.33333333333333%; }
.col-3 {				width: 25%; }
.col-2 {				width: 16.666666666666664%; }
.col-1 {				width: 8.333333333333332%; }

/* Header
=================================*/
header {								left:0px; height:200px; overflow:hidden; position:relative; text-align:center; vertical-align:top; top:0px; width:100%; z-index:10; }
header .bar_top {						height:40px; left:0px; overflow:hidden; position:absolute; text-align:center; top:0px; vertical-align:top; width:100%; z-index:11; }
header .bar_top .container { 			height:40px; overflow:hidden;z-index:12; }
header .bar_top .login_box {			float:left; font-size: 12px; height:30px; line-height:30px; overflow:hidden; text-align:left; top:0px; vertical-align:middle; z-index:20; }
header .bar_top .social_links {			height:40px; overflow:hidden; padding-top:10px; right:0px; text-align:right; z-index:20; }
header .bar_top .social_links a img {	border:none; }
header .menu {							font-size:0; height:160px; left:0px; overflow:hidden; position:absolute; text-align:center; top:40px; vertical-align:top; width:100%; z-index:11; }
header .menu .container {				height:100%; overflow:hidden; }
header .menu .container ul {			bottom:0; height:40px; position:absolute; margin:0; padding:0; text-align:left; vertical-align:bottom; width:100%; z-index:13; }
header .menu .container ul li {			display:inline-block; font-size:12px; height:100%; line-height:40px; list-style:none; margin:0 5px 0 0; padding:0; text-align:center; width:90px; }
header .menu .container ul li a {		display:block; height:100%; line-height:40px; width:100%;
										-webkit-transition: all 0.5s ease; moz-transition: all 0.5s ease; -ms-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
header .menu .container ul li a:hover {	-webkit-transition: all 0.5s ease; moz-transition: all 0.5s ease; -ms-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }	

/* Sub menu
=================================*/
nav.sub_menu {							font-size:0; margin:10px 0; height:40px; overflow:hidden; text-align:left; vertical-align:bottom; width:100%; }
nav.sub_menu ul {						height:100%; list-style:none; margin:0; padding:0; text-align:left; width:100%; }
nav.sub_menu ul li {					display:inline-block; height:100%; overflow:hidden; text-align:center; vertical-align:bottom; width:95px; }
nav.sub_menu ul li a {					font-size:12px; display:block; height:100%; line-height:40px; width:100%;
										-webkit-transition: all 0.5s ease; moz-transition: all 0.5s ease; -ms-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
nav.sub_menu ul li a:hover {			-webkit-transition: all 0.5s ease; moz-transition: all 0.5s ease; -ms-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }	
nav.sub_menu ul li.mytools {			width:125px; }			

/* Footer
=================================*/
footer {				 	background-color:#000000; bottom:0px; height:40px; overflow:hidden; position:fixed; text-align:center; vertical-align:middle; width:100%; z-index:200; }
footer .container {			height:40px; overflow:hidden; z-index:12; }
footer .powered_by {		height:40px; float:left; overflow:hidden; text-align:left; top:0px; vertical-align:middle; width:475px; z-index:21; }
footer .powered_by img {	border:none; }
footer .copyright {			height:40px; float:right; font-size:10px; color:#ffffff; line-height:15px; overflow:hidden; padding-top: 5px; text-align:right; top:0px; vertical-align:middle; width:475px; z-index:20;  }

