@import url(normalize_v2.css);
@import url(skeleton_v2.css);
@import url(style_v2.css);
@import url(shared_v2.css);
@import url(ie.css);

body {
	font-family:'Ubuntu';
	background-color:ffffff;
	background-repeat:no-repeat;
	background-position:top left;
	background-attachment:fixed;
	}
h1{	
	font-family:'Ubuntu';
	color:000000;
	}
p {	
	font-family:'Ubuntu';
	font-size:14px;
	font-style:normal;
	font-weight:normal;
	color:000000;
	}

.map_without_inner_box {
	/*width: 710px;*/
}

.box_without_map {	
	
}

.map_and_box div {
	width: 100%;
	position: relative;
	display: block;
	margin: 0px;
	border-radius: initial;
}