@import url(normalize_v2.css);
@import url(skeleton_v2.css);
@import url(style_v2.css);
@import url(shared_v2.css);
@import url(ie.css);

body {
	font-family:'Ubuntu';
	background-color:ffffff;
	background-repeat:no-repeat;
	background-position:top left;
	background-attachment:fixed;
	}
h1{	
	font-family:'Ubuntu';
	color:000000;
	}
p {	
	font-family:'Ubuntu';
	font-size:14px;
	font-style:normal;
	font-weight:normal;
	color:000000;
	}

.map_without_inner_box {
	border-radius: 20px 0 0 20px;
}

.box_without_map {	
	border-radius: 0 20px 20px 0;
}

.map_and_box div {
	width: 100%;
	position: relative;
	display: block;
	margin: 0px;
	/*border-radius: initial;*/
}

.multi {
	border:1px solid #8ec4e9;
	border-radius: 5px;
	
}